<h3>Add a new artist to the library</h3>

<form action="/artists" method="post">

  <label for="first_name">Artist name:</label>
  <input type="text" name="name"></input> 

  <input type="submit" value="Save artist"></input>

  </form>